<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<header>

    <a href="#" class="logo"><i class="fas fa-utensils"></i>QUOTE-EVALUATOR</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">home</a>
    </nav>

</header>

<section class="home" id="home">

    <div>
        <p>Quote evaluator helps one create their own quotes as well as view others quotes and can either
             downvote and upvote the quote in the system</p>
    </div><div class="image">
  <img src="images/iose.jpg" alt="">
    </div>
    <div class="writeup_form">
        <div class="writeup">
            <h1 class="active">QUOTE </h1>
            <p class="content">"Conditions are never perfect. 'Someday' is a disease that will take your dreams to the grave with you.... If it's important to you and you want to do it 'eventually,' just do it and correct course along the way."
                --Tim Ferriss
            </p>
        </div>
       
        
<app-quote-detail></app-quote-detail>
    

